.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(235, 235, 235, 0.6)), url("../public/meme.jpg");
  background-repeat: no-repeat; */
  
  /* back */
  /* height: 100%; */
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 16px;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.search-input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-btn {
  background-color: #00bcd4;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 32px;
  width: 32px;

}

.search-btn:hover {
  transform: scale(1.2);
  transform: rotate(360deg) ;
  transition: 1s ease-in-out;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  padding: 24px;
}

.video-card {
  cursor: pointer;
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.video-title {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.footer{
  position: fixed;
  bottom: 0px;
  background: #282c34;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 4px;
}
